html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBEAEB;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .wrapper { */

/* } */

/* ------------------------ */

.nav {
    background-color: #2F3C7E;
    position: fixed;
    width: 100%;
}

.nav-ul {
    margin: auto;
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-li {
    display: inline-block;
    margin: 3% 5%;
}

.nav-li-a {
    color: #FBEAEB;
    text-decoration: none;
    font-weight: bold;
    padding: 10% 20%;
    border-radius: 5px;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.nav-li-a:hover {
    background-color: #FBEAEB;
    color: #2F3C7E;
}

/* ------------------------ */

#welcome-section {
    background-image: url("images/coding_screen.jpg");
    
    min-height: 125px;
    color: rgb(255, 246, 162);
    text-align: center;
    padding: 337px 0;
}

.welcome-div {
    background-color: #101820FF;
    height: 100%;
    width: 320px;
    margin: auto;
    padding: 2% 3%;
    border: 4px solid #FEE715FF;
    border-radius: 5px;
}

.greet {
    margin: 0 auto;
    padding: 15px 7px;
    max-width: 400px;
}

.name {
    color: #FEE715FF;
    font-weight: bolder;
}

.desc {
    color: white;
    opacity: 0.6;
}

/* ------------------------ */

#learned1 {
    font-weight: bold;
}

/* Multiple headings */
.heading {
    padding-top: 5%;
    font-size: xx-large;
    text-decoration: underline;
    margin-bottom: 0;
}

/* All the logo's divs */
.img-div {
    width: 25%;
    float: left;
}

#learned1, .img-div, #contact {
    text-align: center;
}

/* All the logos */
.img-logo {
    max-width: 100%;
}

sup {
    font: caption;
    font-size: 8px;
}

.sub-heading {
    clear: both;
    padding-bottom: 5%;
}

.end {
    padding-top: 5%;
}

/* ------------------------ */

#contact {
    clear: both;
    background-color: #cbd18f;
    height: 100%;
    overflow: auto;   /*it covers the whole aside*/
}

.contact-texts {
    width: 30%;
    margin: 5% 5%;
    float: left;
}

.bird {
    max-height: 200px;
}

.input-div {
    width: 50%;
    padding: 5% 5%;
    float: left;
    text-align: left;
}

.input {
    width: 55%;
    min-width: 160px;
    padding: 2% 4%;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    margin: 1%;
    transition: width 0.4s ease-in-out;
}

.input:focus {
    width: 60%;
}

.input-message {
    width: 90%;
    height: 100px;
    font-size: 16px;
    resize: none;

    transition: height 0.4s ease-in-out;
}

.input-message:focus {
    height: 200px;
    width: 90%;
}

.submit {
    margin-top: 5%;
    background-color: #2F3C7E;
    color: #FBEAEB;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.submit:active {
    background-color: #FBEAEB;
    color: #2F3C7E;
}

/* .clear {
    clear: both;
} */

/* ------------------------ */

.footer {
    background-color: black;
    color: aliceblue;
    height: 300%;
    overflow: auto;
    font-size: x-small;
    text-align: right;
    padding: 2% 2%;
}